@model Product
<form  method="POST">
    <input type="hidden" name="ProductId" value="@Model.ProductId">
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" value="@Model.Name" class="form-control">
    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        <input asp-for="Author" value="@Model.Author" class="form-control">
    </div>
    <div class="form-group">
        <label for="Evaluation">Evaluation</label>
        <input asp-for="Evaluation" value="@Model.Evaluation" class="form-control">
    </div>
    <div class="form-group">
        <label for="ImageUrl">Image</label>
        <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control">
    </div>
    <div class="form-group">
        <label for="TemplateId">TemplateId</label>
        <input asp-for="TemplateId" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>